@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';
@import 'react-quill/dist/quill.snow.css';
@layer base {
  body {
    @apply mx-auto text-base font-normal leading-relaxed;
    line-height: 1.5;
  }
  input {
    @apply outline-none;
  }
}

@layer components {
  .container {
    @apply px-8 py-2;
  }
  .error-value {
    @apply text-error capitalize;
  }
  .stroke-text {
    color: white;
    text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc,
      1px 1px 0 #ccc;
  }
  .box-shadow-creative {
    @apply shadow-primary shadow-[7px_7px_0] duration-100;
    &:hover {
      box-shadow: 1px 1px 0;
    }
    &-large {
      @apply shadow-[10px_10px_0] shadow-darkGray;
    }
  }
  .item-deco {
    position: relative;
    padding: 8px;
    &::after {
      content: '';
      @apply absolute bg-black h-4 w-20 top-8 left-0;
    }
    &::before {
      content: '';
      @apply absolute bg-black h-4 w-20 bottom-8 right-0;
    }
  }
}

.ant-tabs-tab {
  background-color: transparent !important;
  border: none !important;
  color: #ccc;
}
.ant-tabs-tab-active,
.ant-tabs-content-holder {
  background-color: #fff !important;
}
.ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-content-holder {
  @apply px-10 py-5;
}

.Toastify__toast--success .Toastify__progress-bar--success {
  @apply bg-primary;
}
.Toastify__toast--success svg {
  @apply fill-primary;
}
