@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";
@import "react-quill/dist/quill.snow.css";
@layer base {
  body {
    @apply mx-auto text-base font-normal leading-relaxed;
    line-height: 1.5;
  }
  input {
    @apply outline-none;
  }
}

@layer components {
  .container {
    @apply px-8 py-2;
  }
  .error-value {
    @apply text-error capitalize;
  }
  .quickLink-container:hover .quickLink-list {
    @apply opacity-100 translate-y-0;
  }
  .stroke-text {
    color: white;
    text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc,
      1px 1px 0 #ccc;
  }
  .box-shadow-creative {
    @apply shadow-primary shadow-[7px_7px_0] duration-100;
    &:hover {
      box-shadow: 1px 1px 0;
    }
  }
}

.Toastify__toast--success .Toastify__progress-bar--success {
  @apply bg-primary;
}
.Toastify__toast--success svg {
  @apply fill-primary;
}
